body
  background url(fulldesign.jpg) no-repeat center center fixed
  background-size cover
.jumbotron .whitesmoke
  color whitesmoke
.jumbotron .lightgray
  color lightgray
.jumbotron.veil
  background-color rgba(0,0,0,0.7)
.container
  padding-top 2%
.center
  text-align center
.hat
  margin-top 20px
.wide
  width 100%
.tall
  height 100%
